<div class="panel panel-default" ng-repeat="(name, permission) in permissions">
    <div class="panel-heading">
        <h3 class="panel-title">{{ localisationNamespace + '.permission.' + name | translate }}</h3>
    </div>
    <div class="panel-body">
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 10%"><i class="fa fa-users fa-fw"></i> {{ localisationNamespace + '.header.group.id' | translate }} </th>
                <th>{{ localisationNamespace + '.header.group.username' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="principal in permission.principals | filter: {type:'group'}">
                <td>{{principal.id}}</td>
                <td>{{principal.data.name}}</td>
            </tr>
        </tbody>
    </table>
    <form name="addGroupForm" form-for="permission.group" validation-rules="groupValidationRules" submit-with="addGroup(permission.group)" class="form-inline">
        <type-ahead-field label="" attribute="id" class="fill-parent" options="groupOptions"></type-ahead-field>
        <submit-button button-class="btn btn-default fa fa-plus"></submit-button>
    </form>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 10%"><i class="fa fa-user fa-fw"></i> {{ localisationNamespace + '.header.user.id' | translate }}
                </th>
                <th>{{ localisationNamespace + '.header.user.name' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="principal in permission.principals | filter: {type:'user'}">
                <td>{{principal.id}}</td>
                <td>{{principal.data.username}}</td>
            </tr>
        </tbody>
    </table>
    <form name="addUserForm" form-for="permission.user" validation-rules="userValidationRules" submit-with="addUser(permission.user)" class="form-inline">
        <type-ahead-field label="" attribute="id" class="fill-parent" options="userOptions"></type-ahead-field>
        <submit-button button-class="btn btn-default fa fa-plus"></submit-button>
    </form>
</div>
