<div class="pagination-centered hidden-print">
	<ul class="pagination pagination-md">
		<li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}">
			<a eat-click-if="noPrevious()" ui-sref="{page: 1}">{{getText('first')}}</a>
		</li>
		<li ng-if="directionLinks" ng-class="{disabled: noPrevious()}">
			<a eat-click-if="noPrevious()" ui-sref="{page: page-1}">{{getText('previous')}}</a>
		</li>
		<li ng-repeat="page in pages track by $index" ng-class="{active: page.active}">
			<a ui-sref="{page: page.number}">{{page.text}}</a>
		</li>
		<li ng-if="directionLinks" ng-class="{disabled: noNext()}">
			<a eat-click-if="noNext()" ui-sref="{page: page+1}">{{getText('next')}}</a>
		</li>
		<li ng-if="boundaryLinks" ng-class="{disabled: noNext()}">
			<a eat-click-if="noNext()" ui-sref="{page: totalPages}">{{getText('last')}}</a>
		</li>
	</ul>
</div>

