$fa-font-path: "node_modules/font-awesome/fonts/";
@import "~_bootswatch.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOut.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeIn.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOutRight.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInRight.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOutLeft.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInLeft.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/slideInDown.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/slideOutUp.scss";
@import "~SpinKit/scss/spinkit.scss";
@import "~font-awesome/scss/font-awesome.scss";
@import "~_fullScreen.scss";
@import "~_loadingOverlay.scss";
@import "~_spinner.scss";
@import "~_totals.scss";
@import "~_transitions.scss";
@import "~_acl.scss";
@import "~_fileInput.scss";
body {
    padding-top: $navbar-height * 1.5;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.pagination-centered {
    text-align: center;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
    opacity: 0
}

.miniCodemirror .CodeMirror {
    border: 1px solid #eee;
    height: 40em !important;
}

.tooltip {
    max-width: 213px;
    width: 213px;
}

.table-button-column {
    white-space: nowrap;
    width: 1%;
}