.spinner-container {
    width: 100%;
    z-index: 200000 !important;
    display: table;
    text-align: center;
}

.spinner:before {
    content: $fa-var-cog;
}

.spinner {
    animation: fa-spin 5s infinite linear;
    @include fa-icon();
}

.spinner-large {
    font-size: 10em !important;
}
