@import "~_bootswatch.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOut.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeIn.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOutRight.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInRight.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeOutLeft.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/fadeInLeft.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/slideInDown.scss";
@import "~animate.scss/vendor/assets/stylesheets/animate/slideOutUp.scss";
@import "~SpinKit/scss/spinkit.scss";
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
/* Space out content a bit */

body {
    padding-top: 120px;
    padding-bottom: 20px;
}

.pagination-centered {
    text-align: center;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

input[type='button'] {
    color: inherit;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    border: 0;
    padding: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
    opacity: 0
}

.fadeTransition.ng-enter,
.fadeTransition.ng-leave {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.fadeTransition.ng-enter {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeTransition.ng-leave {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    display: inline-block;
    position: absolute;
}

body {
    overflow-x: hidden;
}

.table > thead > tr > td.total,
.table > tbody > tr > td.total,
.table > tfoot > tr > td.total,
.table > thead > tr > th.total,
.table > tbody > tr > th.total,
.table > tfoot > tr > th.total,
.table > thead > tr.total > td,
.table > tbody > tr.total > td,
.table > tfoot > tr.total > td,
.table > thead > tr.total > th,
.table > tbody > tr.total > th,
.table > tfoot > tr.total > th {
    color: #ffffff;
    background-color: #2c3e50;
}

.table-hover > tbody > tr > td.total:hover,
.table-hover > tbody > tr > th.total:hover,
.table-hover > tbody > tr.total:hover > td,
.table-hover > tbody > tr:hover > .total,
.table-hover > tbody > tr.total:hover > th {
    color: #ffffff;
    background-color: #1a242f;
}

.miniCodemirror .CodeMirror {
    border: 1px solid #eee;
    height: 40em !important;
}

.miniTextilePreview {
    border: 1px solid #eee;
    height: 40em !important;
}

.fullScreen {
    height: calc(100% - 2em);
    width: calc(100% - 2em);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000 !important;
    margin: 1em;
}

.fullScreenBody {
    height: 100%;
    padding-bottom: 2 em;
}

.fullScreenCodemirror {
    height: 100%;
    overflow: scroll;
}

.fullScreenCodemirror .CodeMirror {
    border: 1px solid #eee;
    height: 100% !important;
}

.fullScreenTextilePreview {
    border: 1px solid #eee;
    height: 100% !important;
}

.fullScreen {
    overflow: hidden;
}

.loadingResourcesOverlay {
    background-color: #2c3e50;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200000 !important;
    display: table;
}

.loadingResourcesOverlayMid {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.loadingResourcesOverlayMid > .spinner-4em {
    margin: auto;
    background-color: white;
    text-align: center !important;
}

.loadingResourcesOverlay.ng-hide {
    @include animate('slideOutUp', 0.25s);
}

.tooltip {
    max-width: 213px;
    width: 213px;
}

